<div class="row">
  
    <div class="col-12">
      <div class="card">
        <div class="card-header text-center">
          <h4 class="font-light">Histórico de Alteração no Estoque</h4>
        </div>
  
        <table class="table mb-3">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Usuário</th>
              <th scope="col">Data da Alteração</th>
              <th scope="col" class="text-center">Justificativa</th>
              <th scope="col" class="text-center">Alterações</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="7" class="text-center" *ngIf="historicos.length == 0">
                Não existe itens para serem exibidos
              </td>
            </tr>
            <tr *ngFor="let item of historicos; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ item.usuario.nome }}</td>
              <td>{{ item.dataAlteracao }}</td>
              <td class="text-center">{{ item.justificativa }}</td>
              <td class="text-center">
                <ng-container *ngFor="let prod of item.produtos" class="d-flex flex-column">
                    <div class="d-flex aling-items-center">{{ prod.nome }}: {{ prod.estoqueAnterior }} <i class="material-icons">arrow_right_alt</i> {{ prod.estoqueNovo }}</div>
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
  </div>
  
  